
#formulario{
    background-color: rgb(223, 229, 233);
    height: 90%;
}
#linkProduto{
   font-weight: bold;
   color: black;
}
#container{
    background-color: rgb(223, 229, 233);

}
#botaoDetalhes{
    color: black;
}
#containerDetalhe{
    padding-left: 0px;
}